*:focus { outline: none }
.noselect { user-select: none }

@media only screen and (max-width: 479px) {
  .not-for-phone { visibility: hidden; display: none }
}

@media only screen and (min-width: 480px) {
  .only-for-phone {
    visibility: hidden; display: none }
}

/*clearfix*/
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.jb-item:hover .jb-shown-on-item-hover { opacity: inherit !important}
.jb-item .jb-shown-on-item-hover { opacity: 0  !important}

/* dialog: jb-default-dialog */
.jb-default-dialog { position: absolute; top: 40px; left: 40px; background: #F9F9F9; border: 1px solid #BEBEBE; box-shadow: 0 0px 9px #ccc; min-width: 300px; min-height: 50px; overflow: auto;}
.jb-default-dialog>.dialog-title { text-align: left; background: #fff no-repeat 5px 10px; font-size 13px; font-weight: bold;
padding: 10px 10px 10px 27px; color: #6D6E71; min-height: 12px; border-bottom: 1px solid #BEBEBE; text-transform: capitalize;}
.jb-default-dialog>.dialog-close { position: absolute; cursor: pointer; right: 4px; top: 4px; font: 21px sans-serif; border: none; background: transparent; color: #000; text-shadow: 0 1px 0 #fff; font-weight: 700; opacity: .2;}
.jb-default-dialog>.dialog-close:hover { opacity: .5; }

.highlight { font-weight: bold; }

/********* pulldown menu ********* */

.pulldown-top-menu { background: #fff; position: absolute; top:0; height: 60px; left: 40px;right:0; border-bottom: 1px solid #E5E5E5;}
.pulldown-main-menu { position: absolute; top: 31px; left: 8px; display: -webkit-box; -webkit-box-orient: horizontal; }
.pulldown-top-menu-item {
  cursor: pointer; font-size: 13px; padding: 5px 7px; color: #000; -webkit-user-select: none;
    display: block;  background: #fff;  border: none; text-align: left;
}
.pulldown-top-menu-item:hover { background: #eee; }
.pulldown-top-menu-item.dialog-open { border: 1px solid rgba(0,0,0,0.2); border-bottom: none; background: #eee; }
.pulldown-top-menu-item { border: 1px solid transparent; }

.pulldown-menu-separator { margin: 6px 0; border-bottom: 1px solid #EBEBEB;}

.pulldown-mainmenu-popup { background: #fff; position: absolute; /*top: 50px; left: 52px;*/
min-width: 280px;
min-height: 30px;
box-shadow: 2px 2px 3px #d5d5d5;
padding: 3px 0;
border: 1px solid rgb(213, 213, 213);}

.pulldown-mainmenu-popup .pulldown-menu-remove-top-border { background: #fff; height: 3px; position: absolute; top: -2px; left: 0; }
/* .pulldown-menu-item */
.pulldown-menu-item { -webkit-user-select: none;  padding: 6px 10px 6px 29px; font-size: 13px; display: block; background: #fff;  border: none; width: 100%; text-align: left; cursor: pointer;   position: relative;}
.pulldown-menu-item:hover { background: #eee; }
.pulldown-menu-item1:focus { outline: none; }
.pulldown-menu-item span { background: url('icons1.png?v=16_02') no-repeat; width: 16px; height: 16px; display: block; position: absolute; top: 5px; left: 6px;}


/* editable-boolean-expand-collapse */
.editable-boolean-expand-collapse { margin-left: 3px; border: none; background: none; width: 11px; height: 11px; position: relative; padding: 0;}
.editable-boolean-expand-collapse .frame { background: #F8FFF9; border-radius: 3px;  border: 1px solid #91B193;  position: absolute;  top: 0px;  left: 0px;  right: 0px;  bottom: 0px; }
.editable-boolean-expand-collapse .line1 { position: absolute; background: #91B193; top: 5px; left: 3px; width: 5px; height: 1px; box-shadow: 1px 1px 1px -1px #89A385; }
.editable-boolean-expand-collapse .line2 { position: absolute; background: #91B193; left: 5px; top: 3px; height: 5px; width: 1px; box-shadow: 1px 1px 1px -1px #89A385; display: none; }

.editable-boolean-expand-collapse.collapsed .line2 { display: block; }
.editable-boolean-expand-collapse:focus { outline: none; }

.modal-overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 40;
   opacity: 0.8;
   background: gray;
   top: 0;
   left: 0;
}

@keyframes jb-highlight-comp-changed {
    0% { opacity: 1; }
    50% { opacity: 0.5; box-shadow:  2px 2px 6px 1px gray;}
    100% { opacity: 1; }
}

@keyframes jb-fade {
    0% { opacity: 0.5; }
    100% { opacity: 0; }
}

.jb-fade-3s-transition {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 3s, opacity 3s;
}

.jb-fade-3s {
   animation: jb-fade 3s;
}

.jb-highlight-comp-changed {
   animation: jb-highlight-comp-changed 1s;
}

.jb-disabled { opacity: 0.3 }

.jb-resizer {
  content:url("resizer.gif")
}

.jb-cover { position: 'absolute'; width: '100%'; height: '100%'; background: 'white'; opacity: '0'; top: 0; left: 0; }

.jb-textarea-alternative-for-codemirror { width: 100%; padding-right: 0; resize: none; height: 100% }

.stretchedToMargin {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

.jb-dialogs {
  position: absolute; top: 0; left: 0
}@keyframes slide_from_top {
    0%   {margin-top: -50px;}
    10%  {margin-top: 0;}
    90%  {margin-top: 0;}
    100% {margin-top: -50px;}
}

.default-location.studio-outline {
  top: 110px;
  left: 380px;
}

.default-location.studio-properties {
  top: 110px;
  left: 760px;
}

.default-location.jb-editor {
  top: 290px;
  left: 410px;
}

.CodeMirror-hints {
  z-index: 10000;
}

.studio-pages { background: #F5F5F5; position: absolute; bottom: 20px; left: 0; width: 100%; border-top: 1px solid #aaa}
.studio-pages-items { list-style: none; padding: 0; margin: 0; margin-left: 20px; font-family: "Arial" }
.studio-pages-items>* { list-style: none; display: inline-block; padding: 0 5px; font-size: 12px; border: 1px solid transparent; cursor: pointer;}
.studio-pages-items>* label { cursor: inherit; }
.studio-pages-items>*.selected { background: #fff;  border: 1px solid #ccc;  border-top: 1px solid transparent; color: inherit;  }

html, body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

/**
  * Styles for HTML elements
  */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em; }

h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h3 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px; }

h5 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px; }

h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px; }

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px; }

a {
  color: rgb(255,64,129);
  font-weight: 500; }

blockquote {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: 0.08em; }
  blockquote:before {
    position: absolute;
    left: -0.5em;
    content: '“'; }
  blockquote:after {
    content: '”';
    margin-left: -0.05em; }

mark {
  background-color: #f4ff81; }

dt {
  font-weight: 700; }

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal; }

ul, ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0; }